
/*
 * -------------------------------------------------
 *  Nextflow config file for use with Singularity
 * -------------------------------------------------
 * Defines basic usage limits and docker image id.
 * Imported under the default 'docker' Nextflow
 * profile in nextflow.config
 */

singularity {
  enabled = true
}
process {
  // Path to container
  container = 'buisciii/nextflow-scif:1.0'
  executor = 'local'

  // To define
  //cpus = 8
  /* $executor.cpus*/
  //memory = 20G
  /* $executor.memory*/
  //time = 48.h
}
